// Cores
$color-background: #f5f6fa;
$color-header: #182C61;
$color-button: #44bd32;
$color-button-hover: #4cd137;
$color-text: #fff;

// Espaços
$padding-header: 16px;
$padding-section: 56px;
$margin-product: 8px;
$radius-img: 16px;
$radius-button: 8px;

// Quebras doidos
$breakpoint-medium: 1023px;
$breakpoint-small: 767px;
